.boxFieldset{
    display: flex;
    gap:12px;
    align-items: center;
    border: none;
    width:200px;
    margin:50px auto 0px auto;
    border-radius: 3px;
}
.boxFieldset label{
    font-size: 20px;
    width: 200px;
    margin: 0;
    padding: 0;
}
.boxFieldset input{
    flex-grow: 2;
    width:400px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
}
.boxFieldset button{
    background-color: #6D597A;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    width: 250px;
    font-weight: 800;
  }


.boxFieldset button :hover {
  background: #00bd68;
}

@media only screen and (max-width:1024px){

  .boxFieldset{
    display: flex;
    gap:12px;
    align-items: center;
    border: none;
    width:100%;
    margin:50px auto 0px auto;
    border-radius: 3px;
    flex-direction: column;
}
form{
  width: 100%;
  padding: 0;
  margin: 0;
}
.boxFieldset input{
  flex-grow: 2;
  width: 60%;
  border-radius: 4px;
  font-size: 18px;
}
}